{% extends 'base.html.twig' %}

{% block title %}RecPertePersonne index{% endblock %}

{% block body %}
    <h1>RecPertePersonne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Num_cin</th>
                <th>Age</th>
                <th>Date_perte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rec_perte_personne in rec_perte_personnes %}
            <tr>
                <td>{{ rec_perte_personne.id }}</td>
                <td>{{ rec_perte_personne.nom }}</td>
                <td>{{ rec_perte_personne.prenom }}</td>
                <td>{{ rec_perte_personne.numCin }}</td>
                <td>{{ rec_perte_personne.age }}</td>
                <td>{{ rec_perte_personne.datePerte ? rec_perte_personne.datePerte|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('rec_perte_personne_show', {'id': rec_perte_personne.id}) }}">show</a>
                    <a href="{{ path('rec_perte_personne_edit', {'id': rec_perte_personne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rec_perte_personne_new') }}">Create new</a>
{% endblock %}
