{% extends 'base.html.twig' %}

{% block title %}RecPertePersonne{% endblock %}

{% block body %}
    <h1>RecPertePersonne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rec_perte_personne.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ rec_perte_personne.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ rec_perte_personne.prenom }}</td>
            </tr>
            <tr>
                <th>Num_cin</th>
                <td>{{ rec_perte_personne.numCin }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ rec_perte_personne.age }}</td>
            </tr>
            <tr>
                <th>Date_perte</th>
                <td>{{ rec_perte_personne.datePerte ? rec_perte_personne.datePerte|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rec_perte_personne_index') }}">back to list</a>

    <a href="{{ path('rec_perte_personne_edit', {'id': rec_perte_personne.id}) }}">edit</a>

    {{ include('rec_perte_personne/_delete_form.html.twig') }}
{% endblock %}
