{% extends 'Back/Layout.html.twig' %}
{% block body %}



    <div class="container-fluid">

        {% block title %}
            Réclamations des personnes perdues
        {% endblock %}


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des réclamations des personnes perdues</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 160px;">plaignant</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Titre: activate to sort column ascending" style="width: 246px;">Date de publication</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 114px;">Date de perte</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">Localisation</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 108px;">Etat</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 98px;">Action</th></tr>
                        </thead>

                        <tbody>
                        {% for rec_personne_perdue in rec_personne_perdues %}
                            <tr role="row" class="odd">
                                <td class="sorting_1"></td>
                                <td class="sorting_1">{{ rec_personne_perdue.date|date('Y-m-d H:i:s')}}</td>
                                <td class="sorting_1">{{ rec_personne_perdue.dateperte|date('Y-m-d H:i:s')}}</td>
                                <td class="sorting_1">{{ rec_personne_perdue.localisation}}</td>
                                <td class="sorting_1">{% if rec_personne_perdue.etat ==0 %}
                                        <span class="badge bg-danger" style="color: #FFFFFF"> Pas encore trouvé </span>
                                    {% else %}
                                        <span class="badge bg-success" style="color: #FFFFFF"> trouvé </span>
                                    {% endif %}
                                </td>
                                <td class="sorting_1">
                                    <div class="ligne" style="display: inline-block;">
                                        <a href="{{ path('rec_personne_perdu_admin_show', {id: rec_personne_perdue.id}) }}" class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                            <span class="text">Détail</span>
                                        </a>

                                        <a href="{{ path('rec_objet_perdu_edit', {id: rec_personne_perdue.id}) }}" class="btn btn-warning btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </span>
                                            <span class="text">Modifier</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">

                        Showing 1 to 10 of 57 entries
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                    Previous
                                </a>
                            </li>
                            {% for i in 1..pages %}

                                <li class="paginate_button page-item active">
                                    <a href="{{ path('rec_personne_perdu_admin_index') }}" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
                                        {{ i }}

                                    </a>


                                </li>
                            {% endfor %}


                            <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">
                                Next
                            </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div></div>
    </div>
    </div>
    </div>

    </div>












{% endblock %}