{% extends 'Back/Layout.html.twig' %}
{% block body %}
    {% block title %}

    {% endblock %}
    <div class="contact-area section-padding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-4">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Titre</th>
                            <td>{{ rec_personne_perdu.titre}}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{rec_personne_perdu.date ? rec_personne_perdu.date|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>

                        <tr>
                            <th>Localisation</th>
                            <td>{{ rec_personne_perdu.localisation }}</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ rec_personne_perdu.adresse }}</td>
                        </tr>
                        {% if rec_personne_perdu.description != null%}
                            <tr>
                                <th>Description</th>
                                <td>{{ rec_personne_perdu.description }}</td>
                            </tr>
                        {%endif%}
                        <tr>
                            <th>Etat</th>
                            <td>{% if rec_personne_perdu.etat ==0 %}
                                    <span class="badge bg-danger" style="color: #FFFFFF"> Pas encore trouvé </span>
                                {% else %}
                                    <span class="badge bg-success" style="color: #FFFFFF"> trouvé </span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Validiter de la réclamation</th>
                            <td>{% if rec_personne_perdu.validiter ==0 %}
                                    <span class="badge bg-danger" style="color: #FFFFFF">n'est pas validée</span>
                                {% else %}
                                    <span class="badge bg-success" style="color: #FFFFFF">Valider</span>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th>Dateperte</th>
                            <td>{{ rec_personne_perdu.dateperte ? rec_personne_perdu.dateperte|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        {% if rec_personne_perdu.nom != null%}
                            <tr>
                                <th>nom</th>
                                <td>{{ rec_personne_perdu.nom }}</td>
                            </tr>
                        {% endif %}
                        {% if rec_personne_perdu.prenom != null%}
                            <tr>
                                <th>prenom</th>
                                <td>{{rec_personne_perdu.prenom }}</td>
                            </tr>
                        {% endif %}
                        {% if rec_personne_perdu.numcin != null%}
                            <tr>
                                <th>Num cin</th>
                                <td>{{ rec_personne_perdu.numcin }}</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                    <div class="social-list text-center">
                        <a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img width="150px" height="150px" {% if ('http' in rec_personne_perdu.image) %}
                        src="{{ rec_personne_perdu.image }}"
                    {% else %}
                        src="{{ asset(rec_personne_perdu.image) }}"
                    {% endif %}
                         style="width:370px; height: 470px; ">
                </div>

            </div>
        </div>
    </div>
    <a class="btn btn-primary btn-icon-split" href="{{ path('rec_personne_perdu_admin_index') }}">Retourner</a>
{% endblock %}