{% extends 'front/layoutsec.html.twig' %}

{% block body %}


    <div class="service-area">
        <div class="container">

            <!-- SINGLE-SERVICE-START -->
            <h3 style="position: center">Toute les Réclamations des objets perdus</h3>
            {% for rec_objet_perdu in rec_objet_perdus %}
            <div class="row  padding-top">

                <div class="col-xs-12 col-sm-6" style="padding-bottom: 70px;">

                    <div class="service-thumb">
                        <img width="150px" height="150px" {% if ('http' in rec_objet_perdu.image) %}
                            src="{{ rec_objet_perdu.image }}"
                        {% else %}
                            src="{{ asset(rec_objet_perdu.image) }}"
                        {% endif %}
                             class="rounded-circle" style="width:570px; height: 340px; ">
                        <h3 class="service-thumb-title">{{ rec_objet_perdu.titre }}</h3>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="service-details">
                     <h4>Date publication:</h4>   <h5>{{ rec_objet_perdu.date ? rec_objet_perdu.date|date('Y-m-d H:i:s') : '' }}</h5>
                        <h4>Date perte:</h4>   <h5>{{ rec_objet_perdu.dateperte ? rec_objet_perdu.dateperte|date('Y-m-d H:i:s') : '' }}</h5>
                        <h4>Localisation:</h4>  <h5>{{ rec_objet_perdu.localisation }}</h5>
                        <h5>{{ rec_objet_perdu.description }}</h5>



                        <a href="{{ path('rec_objet_perdu_show', {id: rec_objet_perdu.id})  }}" class="blue-btn btn">Lire détail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- SINGLE-SERVICE-END -->

        </div>
    </div>
{% endblock %}
