{% extends 'front/layoutsec.html.twig' %}

{% block body %}
    <h2>Toute les Réclamations des objets perdus</h2>

    <div class="service-area">
        <div class="container">
            <!-- SINGLE-SERVICE-START -->
            {% for rec_objet_perdu in rec_objet_perdus %}
            <div class="row  padding-top">
                <div class="col-xs-12 col-sm-6">
                    {% for a in rec_objet_perdu.media %}
                    <div class="service-thumb">
                        <img src="{{a.path }}" alt="">
                        <h3 class="service-thumb-title">We make a very good security</h3>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="service-details">
                        <p>

                                    {{ rec_objet_perdu.titre }}
                                   {{ rec_objet_perdu.date ? rec_objet_perdu.date|date('Y-m-d H:i:s') : '' }}
                                    {{ rec_objet_perdu.localisation }}
                                    {{ rec_objet_perdu.description }}
                                    {{ rec_objet_perdu.dateperte ? rec_objet_perdu.dateperte|date('Y-m-d H:i:s') : '' }}
                        </p>

                        <a href="#" class="blue-btn btn">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- SINGLE-SERVICE-END -->

        </div>
    </div>
{% endblock %}
