
{% extends 'front/layout.html.twig' %}
{% block body %}
    <!-- HEADER-AREA-END -->
    <!-- ABOUT-AREA-START -->
    <section class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="page-title">
                        <h2>Help.tn</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="about-image-slide">
                        <img src="{{ asset('front/images/about-image1.jpg') }}" alt="" style="width: 370px; height: 450px;">
                        <img src="{{ asset('front/images/about-image2.jpg') }}" alt="" style="width: 370px; height: 450px;">
                        <img src="{{ asset('front/images/about-image3.jpg') }}" alt="" style="width: 370px; height: 450px;">

                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="about-text">
                        <p> Help.tn est une application web qui se compose de deux parties :
                            <br>
                            une partie front ciblée aux citoyens tunisiens pour faire des réclamations ou bien des demandes d’aide en urgence auprès des commissariats de police, et une partie Backend destinée à ces derniers.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT-AREA-END -->
    <!-- start Personnes perdus -->
    <section class="blog-area blue-bg section-padding" style="background-color: #384884;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="page-title">
                        <h2>Réclamation des objets perdues</h2>
                    </div>
                </div>
                {% for RecObjetPerdu in RecObjetPerdus %}
                   <div class="col-xs-12 col-sm-4">
                    <div class="sinlge-blog">


                        <div class="blog-thumb">

                            <img width="150px" height="150px" {% if ('http' in RecObjetPerdu.image) %}
                                        src="{{ RecObjetPerdu.image }}"
                                    {% else %}
                                        src="{{ asset(RecObjetPerdu.image) }}"
                                    {% endif %}
                                    class="rounded-circle" style="width: 310px; height: 200px;">
                        </div>


                        <a href="#" title="we call of thieves">
                            <h3>{{ RecObjetPerdu.titre }}</h3></a>
                        <p> {{RecObjetPerdu.description }}<a href="{{ path('rec_objet_perdu_show', {id: RecObjetPerdu.id})  }}" class="btn">Voir détails <i class="fa fa-angle-double-right "></i></a></p>
                        <div class="meta-content">
                            <div class="meta-date inline">
                                <p><i class="fa fa-clock-o"></i>Date de publication: {{ RecObjetPerdu.date|date('Y-m-d') }} </p>
                                <p><i class="fa fa-clock-o"></i>Date de perte: {{ RecObjetPerdu.dateperte|date('Y-m-d') }} </p>
                            </div>
                            <div class="meta-tag alignright">
                                <span><i class="fa fa-eye"></i>154</span>
                                <span><i class="fa fa-heart"></i>19</span>
                                <span><i class="fa fa-comments"></i>35</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>

    <!-- End Personne perdus-->




    <!-- start espace -->
    <section class="client-area section-padding">
        <div class="container">
            <div class="center-block">
                <div class="about-text-center">
                    <a href="{{ path('rec_objet_perdu_index') }}" class="btn default-button blue-btn">
                        Lire autres
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end espace -->

    <section class="blog-area blue-bg section-padding" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="page-title">
                        <h2>Réclamation des objets perdues</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="sinlge-blog">
                        <div class="blog-thumb">
                            <a href="#"><img src="{{ asset('front/images/blog/01_blog.jpg') }}" alt="police"></a>
                        </div>
                        <a href="#" title="we call of thieves">
                            <h3>we call of thieves</h3></a>
                        <p>Quisque ipsum magna, finibus eu hendrerit in, pellentesque ut velit. Nam tempus ultrices pulvinar lacus...<a href="#" class="btn">Read more <i class="fa fa-angle-double-right "></i></a></p>
                        <div class="meta-content">
                            <div class="meta-date inline">
                                <p><i class="fa fa-clock-o"></i>24-07-2016</p>
                            </div>
                            <div class="meta-tag alignright">
                                <span><i class="fa fa-eye"></i>154</span>
                                <span><i class="fa fa-heart"></i>19</span>
                                <span><i class="fa fa-comments"></i>35</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="sinlge-blog">
                        <div class="blog-video">
                            <div class="video-item embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5e7KKDN4VqA"></iframe>
                            </div>
                        </div>
                        <a href="#" title="we are meetings">
                            <h3>we are meetings</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi quas, ratione. Velit omnis mollitia accusamus illo repellat vitae quaerat!<a href="#" class="btn">Read more <i class="fa fa-angle-double-right "></i></a></p>
                        <div class="meta-content">
                            <div class="meta-date inline">
                                <p><i class="fa fa-clock-o"></i>24-07-2016</p>
                            </div>
                            <div class="meta-tag alignright">
                                <span><i class="fa fa-eye"></i>154</span>
                                <span><i class="fa fa-heart"></i>19</span>
                                <span><i class="fa fa-comments"></i>35</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="sinlge-blog">
                        <div class="blog-thumb">
                            <a href="#"><img src="{{ asset('front/images/blog/03_blog.jpg') }}" alt="police"></a>
                        </div>
                        <a href="#" title="is eating some"><h3>is eating some</h3></a>
                        <p>Quisque ipsum magna, finibus eu hendrerit in, pellentesque ut velit. Nam tempus ultrices pulvinar lacus...<a href="#" class="btn">Read more <i class="fa fa-angle-double-right "></i></a></p>
                        <div class="meta-content">
                            <div class="meta-date inline">
                                <p><i class="fa fa-clock-o"></i>24-07-2016</p>
                            </div>
                            <div class="meta-tag alignright">
                                <span><i class="fa fa-eye"></i>154</span>
                                <span><i class="fa fa-heart"></i>19</span>
                                <span><i class="fa fa-comments"></i>35</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="client-area section-padding">
        <div class="container">
            <div class="center-block">
                <div class="about-text-center">
                    <a href="{{ path('rec_objet_perdu_index') }}" class="btn default-button blue-btn">
                        Lire autres
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-area blue-bg section-padding" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="page-title">
                        <h2>Réclamation des Brackages</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="sinlge-blog">
                        <div class="blog-thumb">
                            <a href="#"><img src="{{ asset('front/images/blog/01_blog.jpg') }}" alt="police"></a>
                        </div>
                        <a href="#" title="we call of thieves">
                            <h3>we call of thieves</h3></a>
                        <p>Quisque ipsum magna, finibus eu hendrerit in, pellentesque ut velit. Nam tempus ultrices pulvinar lacus...<a href="#" class="btn">Read more <i class="fa fa-angle-double-right "></i></a></p>
                        <div class="meta-content">
                            <div class="meta-date inline">
                                <p><i class="fa fa-clock-o"></i>24-07-2016</p>
                            </div>
                            <div class="meta-tag alignright">
                                <span><i class="fa fa-eye"></i>154</span>
                                <span><i class="fa fa-heart"></i>19</span>
                                <span><i class="fa fa-comments"></i>35</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="sinlge-blog">
                        <div class="blog-video">
                            <div class="video-item embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5e7KKDN4VqA"></iframe>
                            </div>
                        </div>
                        <a href="#" title="we are meetings">
                            <h3>we are meetings</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi quas, ratione. Velit omnis mollitia accusamus illo repellat vitae quaerat!<a href="#" class="btn">Read more <i class="fa fa-angle-double-right "></i></a></p>
                        <div class="meta-content">
                            <div class="meta-date inline">
                                <p><i class="fa fa-clock-o"></i>24-07-2016</p>
                            </div>
                            <div class="meta-tag alignright">
                                <span><i class="fa fa-eye"></i>154</span>
                                <span><i class="fa fa-heart"></i>19</span>
                                <span><i class="fa fa-comments"></i>35</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="sinlge-blog">
                        <div class="blog-thumb">
                            <a href="#"><img src="{{ asset('front/images/blog/03_blog.jpg') }}" alt="police"></a>
                        </div>
                        <a href="#" title="is eating some"><h3>is eating some</h3></a>
                        <p>Quisque ipsum magna, finibus eu hendrerit in, pellentesque ut velit. Nam tempus ultrices pulvinar lacus...<a href="#" class="btn">Read more <i class="fa fa-angle-double-right "></i></a></p>
                        <div class="meta-content">
                            <div class="meta-date inline">
                                <p><i class="fa fa-clock-o"></i>24-07-2016</p>
                            </div>
                            <div class="meta-tag alignright">
                                <span><i class="fa fa-eye"></i>154</span>
                                <span><i class="fa fa-heart"></i>19</span>
                                <span><i class="fa fa-comments"></i>35</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="client-area section-padding">
        <div class="container">
            <div class="center-block">
                <div class="about-text-center">
                    <a href="{{ asset('rec_objet_perdu_index') }}" class="btn default-button blue-btn">
                        Lire autres
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- NEWSLATTER-AREA-START -->
    <section class="newslatter-area section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="page-title">
                        <h2>Newslatter</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="newslatter">
                        <div class="newslatter-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet dapibus felis sit amet consequat. Nulla nec sodales nibh. Phasellus vehicula ante sed dictum varius. Sed ullamcorper augue.</p>
                        </div>
                        <!-- SUBSCRIBE-FORM-START -->
                        <div class="subscribe-form">


                            <form action="#">
                                <input type="email" placeholder="Your Email Here...">
                                <input type="submit" value="Submit Now" title="Submit Now">
                            </form>
                        </div>
                        <!-- SUBSCRIBE-FORM-START -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- NEWSLATTER-AREA-END -->
    <!-- FOOTER-AREA-START -->
{% endblock %}