<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="http://open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('select2-4.0.10/dist/css/select2.min.css') }}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b31e06099e.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
            Help.tn
        {% endblock %}
    </title>
    {% for message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
</head>
<body>
<div class="bg-transparent nav-top-position">
    <nav class="container navbar navbar-expand-lg navbar-dark bg-transparent logo-small">
        <a class="navbar-brand font-weight-bold" href="#"><img src="img/logo-white.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-3">
                <li class="nav-item active ">
                    <a class="nav-link" href="{{ path('home') }}">
                        Acceuil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Réclamation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('add.objet_perdu') }}">Réclamation des objets perdus</a>
                        <a class="dropdown-item" href="#">Réclamation des personnes perdus</a>
                        <a class="dropdown-item" href="#">Réclamation d'attaque à main harmée</a>
                        <a class="dropdown-item" href="#">Réclamation d'harcélement sexuel</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Envoyer une Alerte d'urgence</a>
                </li>
            </ul>
            <div>
                <a class="btn btn-primary btn-lg" href="#">
                    Inscription
                </a>
            </div>
        </div>
    </nav>
</div>
<!-------------Navbar ends here------------------->
<div class="hero-banner d-flex align-items-center" style="background-image: url('{{ asset("img/Police-Tunisie.jpg") }}')">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-8 mx-auto text-center text-white">
                <h1 class="mb-4 text-white font-weight-bold">Envoyez nous une alerte en cas d'urgence !</h1>
                <div class="pt-4">
                    <a href="#" class="btn btn-danger btn-lg">Envoyer une alerte d'urgence</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Section personnes perdues ***** -->
<section class="sectionpt pt-5 pb-5" >
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="text-center">
                    <h2 class="text-capitalize pb-3">
                        {% block grandtitre %}

                        {% endblock %}
                    </h2>
                    <h3 class="text-capitalize pb-3">
                        {% block petittitre %}

                        {% endblock %}
                    </h3>

                </div>
            </div>
        </div>

</section>
<!-- ***** End section personnes perdues ***** -->





{% block body %}
{% endblock %}






<!--====== Footer Area Start ======-->
<footer class="pt-5">
    <!-- Footer Top -->
    <div class="py-3" id="foot-top">
        <div class="container">
            <div class="row">
                <!-- Footer Items -->
                <div class="footer-items">
                    <!-- Footer Title -->
                    <h5 class="mb-3">Contactes des urgences</h5>
                    <ul class="list-unstyled small">
                        <li class="pt-2">Police secours : 197</li>
                        <li class="pt-2">Ambulance médicalisées : 71 780 000 ou 71 781 000 </li>
                        <li class="pt-2">SOS Ambulances : 71 725 555 ou 71 599 900</li>
                        <li class="pt-2">Urgence le secour : 71 351 000 </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="container" id="Footer-Bottom">
        <div class="row" id="Footer-copyright">
            <!-- Copyright Area -->
            <div class="d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                <!-- Copyright Left -->
                <div class="small font-weight-bold">&copy; Copyrights 2020 thisApp All rights reserved.</div>

            </div>
        </div>

    </div>
</footer>
<!--====== Footer Area End ======-->
</div>




<!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="{{ asset('select2-4.0.10/dist/js/select2.min.js') }}"></script>
        <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
   </body>
</html>