{{ form_start(form) }}
    {{ form_widget(form) }}
<button type="submit" class="red-btn btn alignright" ><a href="{{ path('home') }}" style="color: #FFFFFF;">Retourner</a></button><button type="submit" class="blue-btn btn alignright">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
