{% extends 'base.html.twig' %}

{% block title %}RecPersonnePerdue{% endblock %}

{% block body %}
    <h1>RecPersonnePerdue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rec_personne_perdue.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ rec_personne_perdue.titre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ rec_personne_perdue.date ? rec_personne_perdue.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ rec_personne_perdue.localisation }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ rec_personne_perdue.adresse }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rec_personne_perdue.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ rec_personne_perdue.etat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Publique</th>
                <td>{{ rec_personne_perdue.publique ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Validiter</th>
                <td>{{ rec_personne_perdue.validiter ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ rec_personne_perdue.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ rec_personne_perdue.prenom }}</td>
            </tr>
            <tr>
                <th>NumCin</th>
                <td>{{ rec_personne_perdue.numCin }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ rec_personne_perdue.age }}</td>
            </tr>
            <tr>
                <th>DatePerte</th>
                <td>{{ rec_personne_perdue.datePerte ? rec_personne_perdue.datePerte|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rec_personne_perdue_index') }}">back to list</a>

    <a href="{{ path('rec_personne_perdue_edit', {'id': rec_personne_perdue.id}) }}">edit</a>

    {{ include('rec_personne_perdue/_delete_form.html.twig') }}
{% endblock %}
